a{
    text-decoration: none;
}
h3{
    margin: 0px;
    padding-top: 3px;
}
div{
    border: 5px solid;
    background-color: #332D2C;
    color: #e02116;
    height: 30px;
    width: 180px;
    text-align: center;
    margin-bottom: 10px;
}